.write{
    padding-top: 50px;
}
.writeIcon{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border:1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.formGroupinput{
    margin-left: 150px;
    display: flex;
    align-items: center;
}
.writeInputText{
    font-size: 30px;
    border: none;
    padding: 20px;
    width: 70vw;
    outline: none;
}
.formWrite{
    position: relative;
}
.btn-submit{
    font-size: 22px;
    background-color: teal;
    border: none;
    outline: none;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right:70px;
    border-radius: 5px;
    color: wheat;
}
.imageWrite{
    margin-left: 150px;
    width: 70vw;
    height: 250px;
    border-radius: 10px;
    object-fit: cover;
}